<ion-header>
  <ion-toolbar>
      <ion-button routerLink="/edit-list" routerDirection="back" color="light" size="small" fill=undefined>
        <ion-icon name="backspace" slot="start" color="primary" size="large" ></ion-icon>
      </ion-button>
    <ion-title>เพิ่มรายการทัวร์</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  
    
        <ion-item>
            <ion-label position="floating">ชื่อทัวร์</ion-label>
            <ion-input type="text" [(ngModel)]="tour.name"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="floating">รายละเอียดทัวร์</ion-label>
            <ion-input type="text" [(ngModel)]="tour.description"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="floating">จำนวนวัน</ion-label>
            <ion-input type="number" [(ngModel)]="tour.day"></ion-input>
        </ion-item>    
        <ion-item>
            <ion-label position="floating">จำนวนคืน</ion-label>
            <ion-input type="number" [(ngModel)]="tour.night"></ion-input>
        </ion-item>        
        <ion-item>
            <ion-label position="floating">ราคา</ion-label>
            <ion-input type="number" [(ngModel)]="tour.price"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="floating">Url รูปภาพ</ion-label>
            <ion-input type="text" [(ngModel)]="tour.url"></ion-input>
        </ion-item>
        <ion-item lines="none">
            <ion-label position="floating">วันที่เดินทาง</ion-label>
        </ion-item>      
        <ion-item>
            <ion-label position="floating">วัน</ion-label>
            <ion-select cancelText="ยกเลิก" okText="ยืนยัน" [(ngModel)]="tour.dd">
              <ion-select-option value="" >ไม่ระบุ</ion-select-option>
              <ion-select-option value="1">1</ion-select-option>
              <ion-select-option value="2">2</ion-select-option>
              <ion-select-option value="3">3</ion-select-option>
              <ion-select-option value="4">4</ion-select-option>
              <ion-select-option value="5">5</ion-select-option>
              <ion-select-option value="6">6</ion-select-option>
              <ion-select-option value="7">7</ion-select-option>
              <ion-select-option value="8">8</ion-select-option>
              <ion-select-option value="9">9</ion-select-option>
              <ion-select-option value="10">10</ion-select-option>
              <ion-select-option value="11">11</ion-select-option>
              <ion-select-option value="12">12</ion-select-option>
              <ion-select-option value="13">13</ion-select-option>
              <ion-select-option value="14">14</ion-select-option>
              <ion-select-option value="15">15</ion-select-option>
              <ion-select-option value="16">16</ion-select-option>
              <ion-select-option value="17">17</ion-select-option>
              <ion-select-option value="18">18</ion-select-option>  
              <ion-select-option value="19">19</ion-select-option>
              <ion-select-option value="20">20</ion-select-option>
              <ion-select-option value="21">21</ion-select-option>
              <ion-select-option value="22">22</ion-select-option>
              <ion-select-option value="23">23</ion-select-option>
              <ion-select-option value="24">24</ion-select-option>
              <ion-select-option value="25">25</ion-select-option>
              <ion-select-option value="26">26</ion-select-option>
              <ion-select-option value="27">27</ion-select-option>
              <ion-select-option value="28">28</ion-select-option>
              <ion-select-option value="29">29</ion-select-option>
              <ion-select-option value="30">30</ion-select-option>
              <ion-select-option value="31">31</ion-select-option>
            </ion-select>
        </ion-item>  
        <ion-item>
            <ion-label position="floating">เดือน</ion-label>
            <ion-select multiple="true" cancelText="ยกเลิก" okText="ยืนยัน" [(ngModel)]="tour.mm">
              <ion-select-option value="มกราคม" >มกราคม</ion-select-option>
              <ion-select-option value="กุมภาพันธ์" >กุมภาพันธ์</ion-select-option>
              <ion-select-option value="มีนาคม" >มีนาคม</ion-select-option>
              <ion-select-option value="เมษายน" >เมษายน</ion-select-option>
              <ion-select-option value="พฤษภาคม" >พฤษภาคม</ion-select-option>
              <ion-select-option value="มิถุนายน" >มิถุนายน</ion-select-option>
              <ion-select-option value="กรกฎาคม" >กรกฎาคม</ion-select-option>
              <ion-select-option value="สิงหาคม" >สิงหาคม</ion-select-option>
              <ion-select-option value="กันยายน" >กันยายน</ion-select-option>
              <ion-select-option value="ตุลาคม" >ตุลาคม</ion-select-option>
              <ion-select-option value="พฤศจิกายน" >พฤศจิกายน</ion-select-option>
              <ion-select-option value="ธันวาคม" >ธันวาคม</ion-select-option>
            </ion-select>
        </ion-item>
        <ion-item>
            <ion-label position="floating">ปี</ion-label>
            <ion-select cancelText="ยกเลิก" okText="ยืนยัน" [(ngModel)]="tour.yy">
              <ion-select-option value="2562" >2562</ion-select-option>
              <ion-select-option value="2563" >2563</ion-select-option>
              <ion-select-option value="2564" >2564</ion-select-option>
              <ion-select-option value="2565" >2565</ion-select-option>
              <ion-select-option value="2566" >2566</ion-select-option>
            </ion-select>  
        </ion-item>
      
      <br/>   
  <ion-button (click)="SaveTour()"expand="full">
    Save
  </ion-button>

</ion-content>
