<ion-header>
  <ion-toolbar>
      <ion-button slot="start" routerLink="/login" routerDirection="back" color="light" size="small" fill=undefined>
        <ion-icon name="backspace" slot="start" color="primary" size="large" ></ion-icon>
      </ion-button>
    <ion-title>Register Account</ion-title>

    <ion-button slot="end" routerLink="/home" routerDirection="forward" color="light" size="small" fill=undefined>
      <ion-icon name="home" slot="end" color="primary" size="large" ></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-item>
    <ion-label position="stacked">Name</ion-label>
     <ion-input type="text" [(ngModel)]="userAccount.name" value=''></ion-input>
  </ion-item>
  <ion-item>
      <ion-label position="stacked">Surname</ion-label>
       <ion-input type="text" [(ngModel)]="userAccount.surname" value=''></ion-input>
  </ion-item>
  <ion-item>
      <ion-label position="stacked">Email</ion-label>
       <ion-input type="email" [(ngModel)]="userAccount.email" value=''></ion-input>
  </ion-item>
  <ion-item>
      <ion-label position="stacked">Mobile Number</ion-label>
       <ion-input type="numeric" [(ngModel)]="userAccount.mobilenumber" value=''></ion-input>
  </ion-item>
  <ion-item>
      <ion-label position="stacked" >Password</ion-label>
       <ion-input type="password" value='' [(ngModel)]="userAccount.password" placeholder="Must be at least 8 characters." maxlength="16" ></ion-input>
  </ion-item>
  <ion-item>
      <ion-label position="stacked">Confirm Password</ion-label>
       <ion-input type="password" value=''  [(ngModel)]="userAccount.confirmpassword"></ion-input>
  </ion-item>
  <br/>
  <br/>
  <ion-button shape="round" size="Default" type="submit" expand="block" (click)="SaveUser()" >Create Account</ion-button>
   

</ion-content>
