<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Amfinetravel 
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <ion-img src="/assets/50818531_2184268618298294_5445081721651331072_n.jpg"></ion-img>
      <ion-card-header>
        <ion-card-subtitle>ทัวร์ในประเทศ ต่างประเทศ ราคาถูก</ion-card-subtitle>
        <ion-card-title>Welcome To Amfinetravel</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>บริการจัดทัวร์หมู่คณะ กรุ๊ปเหมา ทัวร์ในครอบครัว บริษัท นักศึกษา หลากหลายเส้นทาง ท่องเที่ยว ประชุม เดินทางไปดูงาน สัมมนา ได้ทุกรูปแบบ</p>
      </ion-card-content>
    </ion-card>
    

    
</ion-content>
